<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Main Document</title>
</head>
<body>
    <div class="form mx-10 pt-10">
        <form class="flex flex-col  gap-4" action="/create" method="POST">
            <input class="px-2 py-2 bg-zinc-700 rounded-md" type="text" placeholder="Title" , name="title">
            <textarea class="px-2 py-2 bg-zinc-700 w-full h-32 self-start overflow-x-hidden rounded-md" type="textarea" placeholder="write your task details" name="details"></textarea>  
            <input class="px-2 py-2 bg-blue-700 w-28 rounded-md hover:bg-blue-800" type="submit" value="Create Task">
        </form>
    </div>
    <h1 class="text-2xl mx-10 mt-10 font-bold">Notes: </h1>
    <div class="cards mx-10 mt-4 flex gap-4 flex-wrap">
        <% if(files.length > 0){ %>
            <% files.forEach(function(val){ %>
                <div class="bg-zinc-700 w-64 px-4 py-4">
                    <h1 class="text-xl font-bold mb-2"><%= val%></h1>
                    <p class="text-zinc-200"><%= data[val]%></p>
                    <button class="px-2 py-2 bg-red-700 w-28 rounded-md hover:bg-red-800 mt-8"><a href="/files/<%= val %>">Delete</a></button>
                  </div>
           <% }) %>
        <% } else { %> 
            <p class="text-zinc-400">No Items here</p>
        <% } %>
    </div>
</body>
</html>
